@using EducationSystem.Helpers
@model IEnumerable<EducationSystem.Models.Solution>

@{
    ViewBag.Title = "Index";
}
<div>
    <h2> Задание</h2>

    <div class="container-subj-photo-task">
        <figure class="figure-question figure-photo-task">
            <div id="figure-img-task">
                @Html.Raw("<img 'id='zoom_01' class='main-photo-task' src=\"data:image/jpeg;base64,"
                          + Convert.ToBase64String(ViewBag.TaskImage) + "\" />")
            </div>
        </figure>
    </div>

    <div class="question-number">
        @if (User.Identity.IsAuthenticated)
        {
            <p class="add-question">
                @Html.ActionLink("Добавить решение", "Create", new { TaskCode = ViewBag.taskCode })
            </p>
        }
        <ul class="question-number-list listquery">
            @foreach (var item in ViewBag.solutionNumber)
            {
                <li class="question-number-item"> @ListHelper.CreateSolutionLink(item, ViewBag.taskCode, new { @class = "link-quad-task" })</li>
            }
        </ul>
        <button id="showother" class="button-question btn-show-all">Показать все</button>
    </div>
</div>
<div>
    @Html.ActionLink("Назад", "Index", "Task", new
    {
        subjTaskCode = ViewBag.subjTaskCode
    },new { @class = "link-page-task btn btn-default" })
</div>
<script type="text/javascript">

    $(document).ready(function() { // Ждём загрузки страницы

        $(".photo-task").click(function() {
            const img = $(this);
            const src = img.attr('src');
            $(".main-photo-task").attr('src', src);
        });

        $(".main-photo-task").click(function() { // Событие клика на маленькое изображение
            const img = $(this); // Получаем изображение, на которое кликнули
            const src = img.attr('src'); // Достаем из этого изображения путь до картинки
            $("body").append(`<div class='popup'><div class='popup_bg'></div><img src=${src} class='popup_img' /></div>`);
            $(".popup").fadeIn(300); // Медленно выводим изображение
            $(".popup_bg").click(function() { // Событие клика на затемненный фон
                $(".popup").fadeOut(300); // Медленно убираем всплывающее окно
                setTimeout(function() { // Выставляем таймер
                        $(".popup").remove(); // Удаляем разметку всплывающего окна
                    },
                    300);
            });
        });

        $(".popup_img").click(function() {
            $(".popup_img").style("transform", "scale(2)");
        });
    });

</script>