@model EducationSystem.Models.Solution

@{
    ViewBag.Title = "Test";
}



<div class="container-subj-photo-task">
    <figure class="figure-question figure-photo-task">
        @Html.Raw("<img ' class='main-photo-task' src=\"data:image/jpeg;base64,"
                  + Convert.ToBase64String(ViewBag.FirstImage) + "\" />")
    </figure>

    <ul class="list-subj-mini-photo-task">
        @foreach (var item in ViewBag.Images)
        {
            <li class="item-subj-mini-photo-task">
                @Html.Raw("<img class='photo-task' loading='eager' src=\"data:image/jpeg;base64,"
                          + Convert.ToBase64String(item) + "\" />")
            </li>
        }
    </ul>
</div>

<script type="text/javascript">

    $(document).ready(function() { // Ждём загрузки страницы
        $(".photo-task").click(function() {
            const img = $(this);
            const src = img.attr('src');
            const photo = document.querySelector(".main-photo-task");
            $(".main-photo-task").attr('src', src);
        });

        $(".main-photo-task").click(function() { // Событие клика на маленькое изображение
            const img = $(this); // Получаем изображение, на которое кликнули
            const src = img.attr('src'); // Достаем из этого изображения путь до картинки
            $("body").append(`<div class='popup'><div class='popup_bg'></div><img src=${src} class='popup_img' /></div>`);
            $(".popup").fadeIn(500); // Медленно выводим изображение
            $(".popup_bg").click(function() { // Событие клика на затемненный фон
                $(".popup").fadeOut(500); // Медленно убираем всплывающее окно
                setTimeout(function() { // Выставляем таймер
                        $(".popup").remove(); // Удаляем разметку всплывающего окна
                    },
                    500);
            });
        });

    });
</script>