@using EducationSystem.Controllers
@using EducationSystem.Helpers
@model IEnumerable<EducationSystem.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>11 класс</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="container">
    <div class="accordion">
        <ul class="accordion-list">
            @foreach (var item in Model)
            {
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2 class="title_block">@Html.DisplayFor(modelItem => item.Name)</h2>
                    <div class="msg">
                       @ListHelper.CreateList(item.SubjectCode,null)
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

