@using EducationSystem.Helpers
@model IEnumerable<EducationSystem.Models.Subject>

@{
    ViewBag.Title = "Index";
}


<p>
        @Html.ActionLink("Добавить предмет", "Create", new
   {
       numClass = ViewBag.classNum
   })
    </p>

<div class="container container-main-list">
    <h2 class="title-for-all-subject">@ViewBag.classNum класс</h2>

    <div class="accordion">
        <ul class="accordion-list">
            @foreach (var item in Model)
            {
                <li class="accordion-item">
                    <input type="checkbox" checked>
                    <i></i>
                    <h2 class="title_block">@Html.DisplayFor(modelItem => item.Name)</h2>
                    <div class="msg">
                        @ListHelper.CreateList(item.SubjectCode, null)
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

