@model IEnumerable<EducationSystem.Models.SubjectTask>

@{
    ViewBag.Title = "Details";
}

<div class="modal-content">
    <div class="modal-body">
        <ul class="dl-horizontal">
            @foreach (var num in @ViewBag.subTask)
            {
                <li>@num.Number задание</li>
            }

        </ul>
    </div>
</div>
