@model IEnumerable<EducationSystem.Models.Subject>
@{
    ViewBag.Title = "Home Page";
}

<p class="lead">
    Информационная система обучения и сертификации экспертов
    массовых процедур оценки качества образования
</p>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@foreach (var subject in Model)
{
    <p>
        <a class="btn btn-default"
           @Html.ActionLink((string)@subject.Name, "Details", new { id = subject.SubjectCode }
               , new {@class = "item"}) <a/>
    </p>
}
@section scripts
{
    <script type="text/javascript">
 
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".item").click(function (e) {
 
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
@* <div class="col-md-4">
            <p><a class="btn btn-default" @Html.ActionLink("Предметы", "Index", "Subjects")</a></p>
        </div>
    </div>*@