@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ВКР</h1>
    <p class="lead">Информационная система обучения и сертификации экспертов 
        массовых процедур оценки оценки качества образования </p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" @Html.ActionLink("Эксперты", "Index", "Experts")</a></p>
    </div>
</div>